{% extends '../base.html' %}
{% load static %}
{% block content %}

   

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for category in categories %}
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="{{ category.image.url }}">
                                <h5><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->
    {% include '../latest_products.html' %}
{% endblock %}