{% extends '../base.html' %}
{% load static %}

{% block title %}Yangi buyurtma{% endblock %}

{% block content %}

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <h4>Buyurtma ma'lumotlari</h4>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <form action="{% url 'orders:order_create' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="checkout__input">
                                <p>{{ field.label }}<span>*</span></p>
                                {{ field }}
                            </div>
                        {% endfor %}
                        </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="checkout__order">
                                    <h4 style="text-align: center;">Buyurtma</h4>
                                    <div class="checkout__order__products">Mahsulot(lar) <span>Jami</span></div>
                                    <ul>
                                        {% for item in basket %}
                                            {% with product=item.product %}
                                                <li>{{ product }} <span>{{ item.total_price }} sum</span></li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                    <div class="checkout__order__subtotal">Jami <span>{{ basket.get_total_price }} sum</span></div>
                                    <button type="submit" class="site-btn">Jo'natish</button>
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}