{% extends '../base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

{% block category %}{% endblock %}


<div class="row">
    {% for product, image in items %}
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="{{ image.image.url }}">
                <ul class="product__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                <h5>{{ product.price }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="{% static 'img/blog/blog-1.jpg' %}">
                <ul class="product__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6><a href="#">Ovqat</a></h6>
                <h5>852281</h5>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="product__item">
            <div class="product__item__pic set-bg" data-setbg="{% static 'img/blog/blog-1.jpg' %}">
                <ul class="product__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="product__item__text">
                <h6><a href="#">Ovqat</a></h6>
                <h5>852281</h5>
            </div>
        </div>
    </div>

</div>
{% endblock %}