{% extends '../base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
   
    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                        <div class="product__details__pic">
                            <div class="product__details__pic__item">
                                <img class="product__details__pic__item--large"
                                    src="{{ object.images.all.first.image.url }}" alt="product_img">
                            </div>
                            <div class="product__details__pic__slider owl-carousel">
                                {% for image in object.images.all %}
                                    <img data-imgbigurl="{{ image.image.url }}" src="{{ image.image.url }}" alt="...">
                                {% endfor %}
                            </div>
                        </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ object.name }}</h3>
                        <div class="product__details__price">{{ object.price }} sum</div>
                        <p>{{ object.description }}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input id="basket-qty-input" type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <button id="add-button" value="{{ object.id }}" class="primary-btn">SAVATGA QO'SHISH</button>
                        <a href="#" class="heart-icon" id="like" data-like="{{ object.id }}"><span class="icon_heart_alt"></span></a>
                        <ul>
                            <li><b>Ulashish</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>O'xshash mahsulotlar</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in random_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                                <ul class="product__item__pic__hover">
                                    <li><a href="#" id="like" data-like="{{ product.id }}"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#" id="basket" data-value="{{ product.id }}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="#">{{ product.name }}</a></h6>
                                <h5>{{ product.price }} sum</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
    {% include '../latest_products.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
    <script>
        basket_links = document.querySelectorAll('#basket')
        basket_links.forEach(basket_link => {
            basket_link.addEventListener('click', e => {
                if ('{{ user }}' == 'AnonymousUser') {
                    location.href = '{% url "user:login" %}'
                }
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'basket:basket_add' %}",
                    data: {
                        productid: basket_link.dataset.value,
                        productqty: '1',
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: 'post',
                    },
                    success: (json) => {
                        document.querySelector('#basket-qty').innerHTML = json.qty
                    },
                    error: function (xhr, errmsg, err) {},
                })
            })
        })

        $(document).on('click', '#add-button', function (e) {
            if ('{{ user }}' == 'AnonymousUser') {
                location.href = '{% url "user:login" %}'
            }
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_add" %}',
                data: {
                    productid: $('#add-button').val(),
                    productqty: document.querySelector('#basket-qty-input').value,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function (json) {
                    document.querySelector('#basket-qty').innerHTML = json.qty
                },
                error: function (xhr, errmsg, err) {}
            });
        });
        
        let like_links = document.querySelectorAll('#like');
        like_links.forEach(like_link => {
            like_link.addEventListener('click', function (e) {
                if ('{{ user }}' == 'AnonymousUser') {
                    location.href = '{% url "user:login" %}'
                }
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'like:like_add' %}",
                    data: {
                        productid: like_link.dataset.like,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: 'post',
                    },
                    success: function (json) {
                        document.querySelector('#like-len').innerHTML = json.like_len
                    },
                    error: function (xhr, errmsg, err) {
                        console.log(xhr);
                        console.log(errmsg);
                        console.log(err);
                    },
                })
            });
        });

    </script>

{% endblock %}