{% extends '../base.html' %}
{% load static %}

{% block title %}Qidiruv{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Tavsiya qilamiz</h4>
                            <div class="latest-product__slider owl-carousel">
                                <div class="latest-prdouct__slider__item">
                                    {% for product in liked_products %}
                                        <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.images.first.image.url }}" alt="..." style="height: 90px; width: 90px;">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{ product.name }}</h6>
                                                <span>{{ product.price }} sum</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6>
                                    {% if page_obj|length == 0 %}
                                        Mahsulot topilmadi
                                    {% else %}
                                        <span>{{ page_obj|length }}</span> Mahsulot
                                    {% endif %}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product, image in items %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{ image.image.url }}">
                                    <ul class="product__item__pic__hover">
                                        <li><a href="#" id="like-link" data-value="{{ product.id }}"><i class="fa fa-heart"></i></a></li>
                                        <li><a href="#" id="basket-link" data-value="{{ product.id }}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                                    <h5>{{ product.price }} sum</h5>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if page_obj|length > 12 %}
                    <div class="product__pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            <a href="?page={{ page }}" {% if page == page_obj.number %} style="background-color: rgb(191, 205, 224)" {% endif %}>{{ page }}</a>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    links = document.querySelectorAll('#basket-link');
    links.forEach(element => {
        element.addEventListener('click', e => {
            if ('{{ user }}' == 'AnonymousUser') {
                    location.href = '{% url "user:login" %}'
            }
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'basket:basket_add' %}",
                data: {
                    productid: element.dataset.value,
                    productqty: "1",
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post',
                },
                success: function (json) {
                    document.querySelector('#basket-qty').innerHTML = json.qty;
                },
                error: function (xhr, errmsg, err) {},
            });
        });
    });
    like_btns = document.querySelectorAll('#like-link')
    like_btns.forEach(btn => {
        btn.addEventListener('click', (e) => {
            if ('{{ user }}' == 'AnonymousUser') {
                    location.href = '{% url "user:login" %}'
            }
            e.preventDefault();
            $.ajax({
                type: 'post',
                url: "{% url 'like:like_add' %}",
                data: {
                    productid: btn.dataset.value,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post',
                },
                success: function(json) {
                    document.querySelector('#like-len').innerHTML = json.like_len;
                },
                error: function(xhr, errmsg, err) {},
            });
        });
    });
</script>

{% endblock %}